openapi: 3.2.0
info:
  title: Adionics Pages API
  version: wp/v2
  description: Public, unauthenticated read access to the static site pages of adionics.com — the technology, offer, markets, applications, history, management team, careers, contact and legal pages, in English and Spanish — 29 published pages at capture (2026-09-07).
  contact:
    name: Adionics
    url: https://www.adionics.com/contact/
  x-api-evangelist:
    generated: '2026-09-07'
    method: derived
    source: https://www.adionics.com/wp-json/ (live WordPress REST route index, fetched 2026-09-07)
    note: Derived from the self-describing WordPress REST route index published at https://www.adionics.com/wp-json/ and from live anonymous responses observed on 2026-09-07. Adionics publishes no OpenAPI of its own; every path, method, parameter and response field below was observed on the live surface, none were invented.
servers:
- url: https://www.adionics.com/wp-json
  description: Adionics WordPress REST API root
tags:
- name: Pages
paths:
  /wp/v2/pages:
    get:
      operationId: listPages
      summary: List published pages
      description: 'Anonymous access verified 2026-09-07 (HTTP 200, X-WP-Total: 29).'
      tags:
      - Pages
      parameters:
      - name: context
        in: query
        description: Scope of the response. Anonymous callers may only use `view` or `embed`; `edit` returns 401.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: page
        in: query
        description: Current page of the collection (1-based).
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items returned per page.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: _fields
        in: query
        description: Comma-separated list of fields to return (sparse fieldsets).
        schema:
          type: string
      - name: _embed
        in: query
        description: Embed linked resources (author, featured media, terms) into the `_embedded` member.
        schema:
          type: string
      - name: parent
        in: query
        schema:
          type: array
          items:
            type: integer
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - date
          - id
          - title
          - slug
          - modified
          - menu_order
          - parent
          default: date
      responses:
        '200':
          description: A page of pages.
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/pages/{id}:
    get:
      operationId: getPage
      summary: Retrieve a single page
      tags:
      - Pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      responses:
        '200':
          description: The page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Page:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          type: object
          properties:
            rendered:
              type: string
        content:
          type: object
          properties:
            rendered:
              type: string
        excerpt:
          type: object
          properties:
            rendered:
              type: string
        author:
          type: integer
        featured_media:
          type: integer
        parent:
          type: integer
          description: Parent page id — pages are hierarchical on this install (e.g. /in-few-words/careers/).
        menu_order:
          type: integer
        template:
          type: string
        meta:
          type: object
        acf:
          type: object
        blocksy_meta:
          type: object
        _links:
          type: object
    WPError:
      type: object
      description: The WordPress REST API error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
      - data
  responses:
    NotFound:
      description: The requested object does not exist, or is not publicly readable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
    BadRequest:
      description: An invalid parameter was supplied.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
